
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-title>Witaj</app-title>
      <v-line></v-line>
    </div>
  </div>

  <div class="row image-row">
    <div class="col-md-4">
      <img src="./../assets/images/todo.png" >
    </div>
    <div class="col-md-8 text-row">
      <h1>
        Oto internetowa lista zadań, która pomoże Ci zorganizować twoje obowiązki!
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <v-line></v-line>
      <v-line></v-line>
    </div>
    <div id="buttons" class="col-md-12 row">
      <div class="col-md-6">
        <app-wide-button color="green" routerLink="/login">Zaloguj się</app-wide-button>
      </div>
      <div class="col-md-6">
        <app-wide-button color="pink" routerLink="/register">Rejestracja</app-wide-button>
      </div>
    </div>

  </div>
</div>
