<app-navigation></app-navigation>

<div class="container-fluid content"> <!-- container centers content on large screens -->
  <div class="row max-width">             <!-- responsive row has 12 columns by default -->
    <div class="col-md-3">      <!-- uses 6 columns on medium and larger screens... -->
    </div>
    <div class="col-md-6">
      <v-line height="6"></v-line>
      <div id="content-box">

        <router-outlet></router-outlet>
      </div><!-- uses 12 columns on smaller than medium screens -->
    </div>
    <div class="col-md-3">      <!-- uses 6 columns on medium and larger screens... -->
    </div>
  </div>
</div>
