$bg-light : #464646;
$bg-dark : #1f1f1f;
$text-orange : #ffaf00;
$text-white : #fff;
$border-light: #6b6b6b;
$text-orange-hover : #ff4700;
$text-active-link : #ff286a;
$bg-lighter : #fffaf6;

//buttons
$button-green: yellowgreen;
$button-green-border: #57751e;
$button-green-hover: #315c18;

//buttons
$button-pink: #cd134b;
$button-pink-border: #7a1031;
$button-pink-hover: #601130;

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
